

.navbar-nav a:hover {
   color: red;
   font-weight: bold;

  }



.simbologia{
  display: flex;
  text-align: center;
  margin: 15px;
}



.introduccion h2{
  color: white;
}

.intro{
  color: white;
}
iframe {
  width: 100%
  }



.card img{
  height: auto
}
.dioses{

padding: 5%;
}
.tsuki{
  width: 300px;
  height: 340px;
  margin-left: 82px;
}


.dioses img{
  margin-top: -1px;
}
.modal-title{
  color: black
}


.listado{
  margin: 30px;
}

.titulo{
  text-align: center;
}

.tabla{
  margin: 115px;

}

.rankin{
  text-align:center;
  margin-top: 123px;
}




@media (max-width: 768px) {  
  .card-img-top{
    width: 90%;
  }
      
  .tsuki{
    margin-left: 30px;
  }


}





@media (max-width: 1024px) {  

      
  .tsuki{
    margin-left: 30px;
  }


}





@media (max-width: 768px) {  
  .card-img-top{
    width: 90%;
  }
      
  .tsuki{
    margin-left: 30px;
  }
 

}





@media (max-width: 480px) {  
  .dioses img{
    margin-left: -12px;
  }
  .listado{
    margin: 0px;
  }
  .tabla{
    margin: 0px;
  
  }


}

.img-thumbnail {
  max-width: 300px !important;
  margin:10%;
}






